.ProductDetails {
  padding: 10px 16px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}
.wrapperInfo {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}
.img {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 16/13;
  object-fit: contain;
  align-self: center;
  cursor: pointer;
}
.name {
  font-size: 20px;
  line-height: 1.4;
}
.articleNumber {
}
.size {
}
.description {
}
.material {
}
.ageGroup {
}
@media (min-width: 750px) {
  .ProductDetails {
    padding-top: 25px;
    flex-direction: row;
    justify-content: space-between;
  }
  .img {
    max-width: 330px;
  }
  .wrapperInfo {
    width: 100%;
    max-width: 380px;
    margin: 0;
    padding: 10px 0 0;
  }
}
@media (min-width: 800px) {
  .ProductDetails {
    font-size: 16px;
  }

  .img {
    max-width: 430px;
  }
  .name {
    font-size: 24px;
  }
  .wrapperInfo {
    padding: 20px 0 0;
    max-width: 400px;
  }
}
@media (min-width: 1000px) {
  .ProductDetails {
    font-size: 17px;
    padding: 25px 30px 50px;
    max-width: 1260px;
    margin: auto;
  }

  .img {
    max-width: 570px;
  }
  .name {
    font-size: 26px;
  }
  .wrapperInfo {
    padding: 30px 0 0;
    max-width: 550px;
  }
}
