.AppLink {
  color: var(--primary-color);
  transition: all 0.3s;
  text-decoration: none;
  &.active {
    opacity: 0.5;
    border-bottom: 1px solid var(--colorDecoration);
  }
  &:hover {
    opacity: 0.7;
  }
}
.AppLink.blue {
  color: var(--color-link-allot);
}
