@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "themes/green";

body,
.app {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.page-wrapper {
    width: 100%;
}
.content-page {
    display: flex;
    height: 100%;
    flex-grow: 1;
}
.width-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}