.SwiperGallery {
  position: relative;
}
.swiper {
  min-height: 150px;
}
.skeletonWrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.wrapperSwiper {
  align-items: center;
  min-height: 120px;
}
@media (min-width: 470px) {
  .wrapperSwiper {
    min-height: 190px;
  }
}

@media (min-width: 650px) {
  .wrapperSwiper {
    min-height: 240px;
  }
}
@media (min-width: 850px) {
  .wrapperSwiper {
    min-height: 280px;
  }
}
@media (min-width: 980px) {
  .wrapperSwiper {
    min-height: 290px;
  }
}
@media (min-width: 1200px) {
  .wrapperSwiper {
    min-height: 300px;
  }
}
@media (min-width: 1320px) {
  .wrapperSwiper {
    min-height: 370px;
  }
}
