.wrapperQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.button {
  color: var(--colorDecoration);
  font-size: 25px;
  transition: transform 0.3s linear;
  &.active {
    transform: rotate(180deg);
  }
}
.description {
  margin: 10px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s linear;
  cursor: pointer;
  &.active {
    transition: max-height 0.5s linear;
    max-height: 700px;
  }
}
