.wrapperMessage {
  height: 262px;
  width: 300px;
  background-color: #fff;
  overflow-y: auto;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--bg-secondary);
  border-top: none;
  gap: 5px;
}
.text {
  background: var(--colorDecoration);
  color: white;
  text-align: center;
  padding: 10px;
  border-top-left-radius: 20px;
}
.label {
  min-height: auto !important;
}
.input {
  padding: 10px 35px 10px 30px;
}
.form {
  border-left: 1px solid var(--bg-secondary);
  border-right: 1px solid var(--bg-secondary);
  position: relative;
  background: white;
}
.icon {
  width: 28px;
  height: 28px;
}
.iconClip {
  width: 25px;
  height: 25px;
  transform: rotate(90deg);
}
.buttomClip {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 50%;
  left: 0px;
  transform: translate(0, 50%);
}
.submite {
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: 50%;
  right: 5px;
  transform: translate(0, 50%);
}
.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.3;
}

.messageText {
  background: var(--bg-secondary);
  padding: 10px;
  border-radius: 10px 10px 10px 0;
  max-width: 255px;
}
.message.admin {
  align-items: flex-end;
  .messageText {
    border-radius: 10px 10px 0 10px;
  }
  .messageDate,
  .messageName {
    padding: 0 5px 0 0;
  }
}
.messageDate,
.messageName {
  font-size: 10px;
  padding: 0 0 0 5px;
}
.connectWrapper {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px 10px 0 10px;
  background: var(--bg-secondary);
  margin-top: 5px;
  width: 80%;
  max-width: 255px;
}
