.Button {
    cursor: pointer;
    color: var(--inverted-secondary-color);
    padding: 6px 15px;
    transition: all .3s;

    &:hover {
        opacity: 0.7;
    }
}

.clear,
.clearInverted {
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

.clearInverted {
    color: var(--inverted-primary-color);
}

.outline {
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}

.background {
    padding: 0;
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    padding: 0;
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.outlineRed {
    border: 1px solid var(--red-light);
    background: transparent;
    color: var(--red-light);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font: var(--font-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font: var(--font-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
}