.Quantity {
  display: flex;
  align-items: center;
  min-height: 30px;
}

.quantity,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--colorDecoration) !important;
  background: var(--bg-secondary) !important;
}
.quantity {
  min-width: 100px;
  border-left: none !important;
  border-right: none !important;
} 
.button {
  padding: 0 10px !important;
  font-size: 24px;
}
@media (min-width: 1000px) {
  .quantity,
  .button {
    min-height: 40px;
    font-size: 18px;
  }
  .button {
    font-size: 27px;
  }
}
