.ProductsPage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 50px;
}

.skeletonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
