.app_green_theme {
    --bg-color: #f4fbf5;
    --inverted-bg-color: #175424;

    // color
    --primary-color: #25340e;
    --secondary-color: #175424;
    --inverted-primary-color: #d6d6d6;
    --inverted-secondary-color: #f4fbf4;

    // skeleton
    --skeleton-color: #175424;
    --skeleton-shadow: #25340e;

    // code
    --code-bg: #ffff;

    // card
    --card-bg: #b7ceba;
}