.app_light_theme {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0e0e75;

    // color
    --primary-color: #062688;
    --secondary-color: #0654fa;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #027c02;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgb(0 0 0 / 30.1%);

    // code
    --code-bg: #ffff;

    // card
    --card-bg: #a7a7b3;
}