.input {
  position: relative;
  padding-right: 30px !important;
  max-width: 0;
  transition: max-width .3s linear;
  &.in.visible {
    max-width: 100%;
    transition: max-width .3s linear;
  }
}
.buttonSubmite {
  position: absolute;
  right: 25px;
  top: 3px;
}
.iconSearch,
.iconSubmite {
  width: 15px;
  height: 15px;
}
.form {
  display: flex;
  gap: 0 5px;
}
.buttonExit {
  align-self: flex-start;
  color: var(--colorDecoration);
}
.label {
  min-height: auto !important;
}
@media (min-width: 650px) {
  .buttonSearch {
    margin-top: 5px !important;
  }
}
@media (min-width: 1460px) {
  .iconSearch {
    width: 20px;
    height: 20px;
  }
  .input {
    position: relative;
    padding-right: 30px !important;
  }
}
