.iconSort {
  width: 25px;
  height: 25px;
  margin-top: 7px;
}
.ProductSortSelector {
  min-height: 40px;
  background: var(--bg-secondary);
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 15px;
}
@media (min-width: 1000px) {
  .ProductSortSelector {
    min-height: 50px;
  }
}
